# gitignore for Clyde repository

### Clean ###

**/Clean System Files/

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*


### Project ###

Clyde_debug*